.container {
    padding: 50px;
   width: 70%;
    margin-top: 150px;
    height: 500px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-right: 230px;
  }
  .table  th ,td{
    column-gap: 10px;
  
    border: 1px solid black;
  }